<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome To Our Online Heart Diseae Test Web Service</h1>
    <p>This Is A New Web Service Based On Naive Bayes Algorithm Wich Make A Good Prediction For Your Health State Based On Big DataBase</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this  app works</h3>
      <ul>
      <li>By Entering Your Information You Can Test Your Health </li>

        <li>This Information Include Age,chest_pain_type,rest_blood_pressure,blood_sugar,rest_electro,max_heart_rate,,exercice_angina</li>
        <li>This App Is Not Learning But Based On Stable DataBase So You Have Few Attrebutes</li>
        <li>Age Between 28 & 66</li>
        <li>chest_pain_type Four Types :asympt , atyp_angina , non_anginal ,typ_angina </li>
        <li>rest_blood_pressure Between 92 & 200</li>
        <li>rest_electro Three Types : normal , left_vent_hyper , st_t_wave_abnormality </li>
        <li>Age Between 82 & 188</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
     <li>This App Will Calculate Propabilites For You And Get Results</li>
      </ul>
        
      </ul>
     
    </div>
  </div> <!-- row -->
   <h3>Please Choose Your Attribute(s)</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
      <h3 class="margin">Attributes</h3>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" id="age">
    
      
        <label for="mhr">max heart rate:
          </label>
        <input  type="text"  class="form-control" id="mhr">
     
    
        <label for="cpt">Select chest pain type :
      </label>
        <select class="form-control" id="cpt">
          <option value="atyp_angina">atyp_angina
          </option>
          <option value="asympt">asympt
          </option>
          <option value="non_anginal">non_anginal
          </option>
          <option value="typ_angina"> typ_angina
          </option>
        </select>
    
     
        <label for="rbp">rest blood pressure :
        </label>
      <input type="text" class="form-control" id="rbp">
     
        <label for="bs">Select blood sugar :
        
      </label>
      <select class="form-control" id="bs">
        <option value="yes">yes
        </option>
        <option value="no">No
        </option>
        
      </select>
    
    
        <label for="ea">Select exercice angina :
         

        </label>
        <select class="form-control" id="ea">
          <option value="yes">yes
          </option>
          <option value="no">No
          </option>

        </select>

     
        <label for="re">Select rest electro :
          

        </label>
        <select class="form-control" id="re">
          <option value="left_vent_hyper">left_vent_hyper

          </option>
          <option value="Normal">Normal

          </option>
          <option value="st_t_wave_abnormality">
          st_t_wave_abnormality
          </option>
        </select>
        <label for="Resault">Resault:</label>
        <input type="text" class="form-control" id="Resault">
<br>
    
        <a id="Get_Resault"  class="btn btn-default btn-lg">
       
        <span class="glyphicon glyphicon-search"></span> Get Resault
      </a>
      
 <a id="Reset " onclick="window.location.reload()"  class="btn btn-default btn-lg">
       
        <span class="glyphicon glyphicon-search"></span> Reset
      </a>

    </div>
    </div>
  
</div>


</body>
</html>
